.text-shadow--sm {
	text-shadow: $shadow-sm !important;
}

.text-shadow--md {
	text-shadow: $shadow-md !important;
}

.text-shadow--lg {
	text-shadow: $shadow-lg !important;
}

.box-shadow--sm {
	box-shadow: $shadow-sm !important;
}

.box-shadow--md {
	box-shadow: $shadow-md !important;
}

.box-shadow--lg {
	box-shadow: $shadow-lg !important;
}