extend layouts/base

block content
	.hero
		section.text--white
			.container(style="height: 30vh;")
				.row
				.col__12.m-t--2
					.logo
						img.logo__icon(src="../images/lunch-logo.svg")
						span.logo__wordmark Lunch with Me
			.container
				.row
					.col__10.m-b--4
						h1.m-b--1 Have Lunch with Me!
						h3 in the Tampa Bay area with Ryan
						button.button.button--white.m-t--3 Schedule a Lunch
	section.p-t--6.p-b--6
		.container
			.row
				.col__12.lead
					p 
						strong Hi there! 
						| I am excited to having lunch with you! In an effort of spreading belonging, 
						a(href="#") I'd like to invite you to have lunch with me.
	section.p-t--6.p-b--6.bg--primary.text--white.m-t--4
		.container
			.row
				.col__12
					h3 Why have lunch with me at Airbnb?
				.col__4
					p.p-t--2.p-b--2.p-r--2.p-l--2.border--all.border--light The food is delicious and crafted with care and love by our food team
				.col__4
					p.p-t--2.p-b--2.p-r--2.p-l--2.border--all.border--light Visit Airbnb's beautiful office, learn about the company's history, people and mission
				.col__4
					p.p-t--2.p-b--2.p-r--2.p-l--2.border--all.border--light Making new friends (I will try to group 2-3 people per visit)
				.col__12
					button.button.button--teal Let's get lunch!
	section
		.container
			.row
				.col__12
					h3.m-t--4 A little about me
					p
					p 
					h3.m-t--4 Getting invited for lunch
					p I'd love to make your experience and my experience really magical. Every week, I will extend an invite to 2-3 individuals to have lunch the following Tuesday or Wednesday. In order to make that happen, I need to collect some information about you (name, email, LinkedIn) to match everyone accordingly and arrange for a lunch visit.
