extend layouts/base

block content
	.stripe
	section.bg--gradient.p-t--3.p-b--6
		.container
			.row
				.col__12.m-t--3.m-b--3
					img(src="../images/disputelab_logo.svg" width="200")
				.col__12.lead
					h1.text--gray-800.m-b--3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					h2.text-weight--regular.m-b--3.text--primary Donec sed justo mollis, pretium ligula sed, tempor nisl.
						br
						| Sed et convallis neque, eu auctor odio.
					p Donec ex tortor, efficitur eu nisi vitae, pellentesque rhoncus nibh. Donec id mollis diam, sed rhoncus massa. In mollis rutrum posuere. Quisque pharetra erat sapien. In elementum et odio nec suscipit. Sed cursus rutrum tortor, sit amet condimentum lorem venenatis ut.
					p Aenean tortor augue, dictum commodo nibh vitae, scelerisque rutrum massa. Vestibulum mollis blandit nisl, ut pharetra augue feugiat id.
					p Maecenas et magna eget tortor faucibus pretium. Donec augue nibh, dictum eu nunc eget, feugiat ornare nulla. Quisque lobortis mi sed laoreet dignissim. 
						a(href="#") Hello
					p
						strong.text--black In tortor elit, condimentum laoreet dignissim quis, convallis eget sapien. Integer pretium lorem arcu, sed pretium leo mollis sit amet.
	section.bg--primary.p-t--5.p-b--5.text--white
		.container
			.row
				.col__12
					h2.m-b--3.text-shadow--lg Vivamus id blandit
			.row
				.col__6
					strong.text-weight--bold.text-shadow--sm Sed nec eros cursus
					p.text--accent.text-shadow--sm Curabitur ac nulla lacinia, interdum sapien in, interdum sapien.
				.col__6
					strong.text-weight--bold.text-shadow--sm Sapien fringilla tempor aliquet
					p.text--accent.text-shadow--sm Vestibulum eget lectus arcu. Pellentesque vulputate leo nec.
				.col__6
					strong.text-weight--bold.text-shadow--sm Sed nec eros cursus
					p.text--accent.text-shadow--sm Curabitur ac nulla lacinia, interdum sapien in, interdum sapien.
				.col__6
					strong.text-weight--bold.text-shadow--sm Sapien fringilla tempor aliquet
					p.text--accent.text-shadow--sm Vestibulum eget lectus arcu. Pellentesque vulputate leo nec.
	section.bg--gray-900.p-t--5.p-b--5.text--white
		.container
			.row
				.col__12
					h2.m-b--3.text-shadow--lg Suspendisse potenti
			.row.border--top.border--light.p-t--3.p-b--3
				.col__4
					p.text-weight--bold Curabitur rutrum velit et lectus
				.col__8
					p.text--gray-400 Sed nec viverra risus, nec suscipit purus. Quisque auctor non felis non efficitur. Vivamus in tempus ante, id aliquam neque.
			.row.border--top.border--light.p-t--3.p-b--3
				.col__4
					p.text-weight--bold Curabitur rutrum velit et lectus
				.col__8
					p.text--gray-400 Sed nec viverra risus, nec suscipit purus. Quisque auctor non felis non efficitur. Vivamus in tempus ante, id aliquam neque.
			.row.border--top.border--light.p-t--3.p-b--3
				.col__4
					p.text-weight--bold Curabitur rutrum velit et lectus
				.col__8
					p.text--gray-400 Sed nec viverra risus, nec suscipit purus. Quisque auctor non felis non efficitur. Vivamus in tempus ante, id aliquam neque.
			.row.border--top.border--light.p-t--3.p-b--3
				.col__4
					p.text-weight--bold Curabitur rutrum velit et lectus
				.col__8
					p.text--gray-400 Sed nec viverra risus, nec suscipit purus. Quisque auctor non felis non efficitur. Vivamus in tempus ante, id aliquam neque.
			.row.border--top.border--light.p-t--3.p-b--3
				.col__4
					p.text-weight--bold Curabitur rutrum velit et lectus
				.col__8
					p.text--gray-400 Sed nec viverra risus, nec suscipit purus. Quisque auctor non felis non efficitur. Vivamus in tempus ante, id aliquam neque.
			.row.border--top.border--light.p-t--3.p-b--3
				.col__4
					p.text-weight--bold Curabitur rutrum velit et lectus
				.col__8
					p.text--gray-400 Sed nec viverra risus, nec suscipit purus. Quisque auctor non felis non efficitur. Vivamus in tempus ante, id aliquam neque.