extend layouts/base

block content
	.hero
		section.bg--primary.text--white
			.container(style="height: 30vh;")
				.row
				.col__1.m-t--2
					img(src="../images/lunch-logo.svg" width="70")
			.container
				.row
					.col__10.m-b--4
						h1.m-b--1 Have Lunch with Me!
						h3 at Airbnb with Mohamed
						button.m-t--3 Schedule a Lunch
	section
		.container
			.row.p-t--4
				.col__12.lead
					p 
						strong Hi there! 
						| I am excited to having lunch with you! Over the past year at Airbnb, I was fortunate enough to host over 50 people at Airbnb; sharing many memories, laughes and stories. To be honest, I consider myself very lucky and fortunate to work at a place that offers healthy, delicious food, and allows me to enjoy these meals with friends and family. In an effort of spreading belonging, 
						a(href="#") I'd like to invite you to have lunch with me at Airbnb.
					h3.m-t--4 Why have lunch with me at Airbnb
					p
						ul.m-b--4
							li The food is delicious and crafted with care and love by our food team
							li Visit Airbnb's beautiful office, learn about the company's history, people and mission
							li Making new friends (I will try to group 2-3 people per visit)
					h3.m-t--4 A little about me
					p I am a software engineer working at Airbnb since June 2017. I currently work on Airbnb's luxury product that is launching in 2018 with a mission to assist guests plan a trip of a lifetime. I mostly work in Javascript and React, building an awesome frontend experience. Previous to Airbnb, I worked at Peek building their reseller Peek.com website.
