//---------------------------------------
// Abstracts: Colors
//---------------------------------------

$color-black: 			#000000;
$color-gray-900:		#1F2024;
$color-gray-800:		#2F3036;
$color-gray-700:		#57595F;
$color-gray-600:		#77787C;
$color-gray-500:		#AFAFAF;
$color-gray-400:		#B9BABE;
$color-gray-300:		#CFD0D4;
$color-gray-200:		#E5E6EA;
$color-gray-100:		#EDF1F5;
$color-white:				#FFFFFF;

$color-blue: 				#3870C4;
$color-light-green: #afffe9;

$color-primary: 		$color-blue;
$color-accent: 			$color-light-green;

$text-color: 				$color-gray-700;